@charset "utf-8";
/* CSS Document */

body {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:15px;
	margin:0;
	padding:0; }
div {
	margin:0;
	padding:0;
}
table {
	font-size:0.7em;
	border:0; }
	tr, td, th {
		margin:0;
		padding:0; }
tr {
	padding-bottom:2px;
	background-color: #EEE;
	border-top:1px solid #DDD;
	border-bottom:1px solid #DDD; }
th {
	border:1px solid #CCC;
	background-color: #EEE; }
td {
	padding:2px; }

#container {
	width:100%; }
#right {
	float:left;
	width:9%;
	margin-top:1em;
	padding:0.5%;
	background-color:#EEE;
	display:block;
	position:fixed; }
	.m, .b, .o {
		vertical-align:text-top;
		font-size:0.75em; }
	.f {
		font-size:0.85em; }
#left {
	float:right;
	width:78%;
	overflow:hidden; }
	
#plotbox {
	float:left;
	width:21%;
	margin-top:1em;
	padding:0.5%;
	background-color:#EEE;
	display:block; }
	.plotbox-m, .plotbox-b, .plotbox-o {
		vertical-align:text-top;
		font-size:0.75em; }


#grafik {
	margin:0 0 10px 10px;
	font-size:17px;
	min-width:640px;
	min-height:480px;
}