body {
    font-size: 0.8em;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 18px;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
table.sortable th {
        text-align: right;
        font-weight: bold;
        cursor: default;
	border-width: thin;
	padding: 2px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}
table.sortable {
	border-width: 1px;
	border-spacing: 2px;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
}
table.sortable td {
        text-align: right;
	border-width: thin;
	padding: 2px;
	border-style: inset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}
